# Core functionality - changes here should be rare!
/src/app.py                   @ARMkiyas
/src/backend/database.py      @ARMkiyas
/src/backend/routers/auth.py  @ARMkiyas

# The frontend will need refactored soon to be more object oriented.
/src/static/   @ARMkiyas
